<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <?php for ($i = 0; $i < $numberOfPages; $i++) : ?>
                <li class="page-item <?php echo $page === $i ? 'active' : '' ?>">
                    <a class="page-link" href="/?page=<?= $i + 1 ?>">
                        <?= $i + 1 ?>
                    </a>
                </li>
            <?php endfor; ?>
        </ul>
    </nav>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Név</th>
                <th scope="col">Régió</th>
                <th scope="col">Népesség</th>
                <th scope="col">Beszélt nyelvek</th>
                <th scope="col">Kedvenc</th>
                <th scope="col">Kép feltöltése</th>
                <th scope="col">Kép</th>
            </tr>
        </thead>
        <tbody>

            <?php foreach ($countries as $country) : ?>
                <tr>
                    <td><?= $country['Name'] ?></td>
                    <td><?= $country['Region'] ?></td>
                    <td><?= $country['Population'] ?></td>
                    <td><?= implode('/', $country['languages']) ?></td>
                    <td>
                        <?php if(in_array($country['Code'], $favourites)): ?>
                            <form action="/unset-favourite?id=<?= $country['Code'] ?>" method="POST">
                                <button type="submit" class="btn btn-danger">
                                    Kedvenc eltávolítása
                                </button>
                            </form>
                        <?php else: ?>
                            <form action="/favourites?id=<?= $country['Code'] ?>" method="POST">
                                <button type="submit" class="btn btn-primary">
                                    Kedvencnek jelölés
                                </button>
                            </form>
                        <?php endif; ?>
                    </td>
                    <td>
                        <form action="/upload-photo" method="POST" enctype="multipart/form-data">
                            <input type="file" name="countryPhoto" class="form-control">
                            <input type="hidden" name="id" value="<?= $country['Code']?>">
                            <button type="submit" class="btn btn-sm btn-success">Feltöltés</button>
                        </form>
                    </td>
                    <td>
                        <?php if($country['imageName']): ?>
                            <img width="100px" src="/images/<?php echo $country['imageName'] ?>" alt="">
                        <?php endif; ?>
                    </td>
                </tr>
            <?php endforeach; ?>

        </tbody>
    </table>
</body>

</html>