<div style="border: 1px solid; margin-left: 30px">
    <?php foreach ($nodes as $node): ?>
      <p>
          <?= $node['value'] ?>
          <?php if ($node['children']): ?>
              <?php $nodes = $node['children'] ?>
              <?php require 'branch.phtml' ?>
          <?php endif; ?>
      </p>
    <?php endforeach; ?>
</div>
