<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Mappák:</h1>
<div style="border: 1px solid">
    <?php foreach ($folderTrees as $tree): ?>
      <p>
          <?= $tree['value'] ?>
          <?php if ($tree['children']): ?>
              <?php $nodes = $tree['children'] ?>
              <?php require 'branch.phtml' ?>
          <?php endif; ?>
      </p>
    <?php endforeach; ?>
</div>
</body>
</html>