<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <h1>Termékek:</h1>
    <?php foreach ($products as $product) : ?>
        <div class="card p-2 m-2 <?= $product['isInStock'] ? '' : 'bg-danger' ?>">
            <p>
                <a href="/termek?id=<?= $product['id'] ?>">
                    <?= $product['name'] ?>
                </a>
            </p>
            <small><?= $product['price'] ?></small>
            <form action="/delete-product?id=<?= $product['id'] ?>" method="POST">
                <button type="submit" class="btn btn-danger float-right">Törlés</button>
            </form>
        </div>
    <?php endforeach; ?>

    <h1 class="p-3">Új termék létrehozása:</h1>
    <form action="/create-product" method="post" class="p-5 m-2">
        <label class="w-100">
            Név:
            <input type="text" name="name" class="form-control">
        </label>
        <label class="w-100">
            Ár:
            <input type="number" name="price" class="form-control">
        </label>
        <label class="w-100">
            Készlet:
            <input type="checkbox" name="isInStock" class="form-control" value="1">
        </label>
        <button type="submit" class="btn btn-primary">Küldés</button>
    </form>

</body>

</html>