<!DOCTYPE html>
<html lang="en">

<head>
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="card">
        <h1><?= $productById['name'] ?></h1>
        <small><?= $productById['price'] ?>ft</small>
        <br>
        <b><?= $productById['isInStock'] ? '' : 'Termék nincs készleten' ?></b>
    </div>
</body>
</html>